*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    }
    :root{
        --body-color:#efefef;
        --nav-color:#1876f2;
        --white-color:#fff;
        --multiple-uses-color:#9a9a9a;
        --multiple-uses-color2:#626262;
    }
    
    .dark-them{
        --body-color:#000;
        --nav-color:#000;
        --white-color:#000;
        --multiple-uses-color:rgb(255, 255, 255);
        --multiple-uses-color2:#ffffff;
    }


  .profile-container{
      padding: 15px 15%;
      color: var(--multiple-uses-color2);
  }
  .profile-cover{
      width: 100%;
      border-radius: 6px;
      margin-bottom: 16px; 
  }
  .profile-detels{
      background-color: var(--white-color);
      padding: 20px;
      border-radius: 4px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
  }
  .pd-row{
      display: flex;
      align-items: flex-start;
  }
  .pd-img{
      width: 100px;
      margin-right: 20px;
      border-radius: 6px;
  }
  .pd-row div h3{
      font-size: 23px;
      font-weight: 600;
      margin: 4px 0;
  }
  .pd-row div p{
      font-size: 13px;
  }

  .pd-row div img{
      width: 25px;
      border-radius: 50%;
      margin-top: 12px;
  }
  .profile-detels-right button{
    background-color: #1876f2;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
  }
  .profile-detels-right button img{
      height: 15px;
      margin-right: 10px;
  }
  .profile-detels-right button:first-child{
      background:#e4e6eb;
      color: #000;
  }
  .profile-detels-right{
      text-align: right;
  }
  .profile-detels-right a{
      background-color:#e4e6eb;
      border-radius: 3px;
      padding:12px;
      display: inline-flex;
      margin-top: 30px;
  }
  .profile-detels-right a img{
      width: 20px;
  }
  .profile-info{
      display: flex;
      align-self: flex-start;
      justify-content: center;
      margin-top: 20px;
  }
  .info-col{
     flex-basis: 33%;
     margin-right: 10px;
  }
  .post-col{
      flex-basis: 65%;
      margin-left: 5px;
  }
  .profile-into{
      background-color: var(--white-color);
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 4px;
  }
  .profile-into h3{
      font-weight: 600;

  }
  .intro-text{
      text-align: center;
      font-size: 15px;
      margin: 10px 0;
      line-height: 1.5;
  }
  .intro-text img{
      width: 15px;
      margin-bottom: -3px;
  }
  .profile-into hr{
border: 0;
height: 1px;
background: #ccc;
margin: 24px 0;
  }
  .profile-into ul li{
      list-style: none;
      font-size: 15px;
      margin: 15px 0;
      display: flex;
      align-items: center;
      line-height: 1.5;
  }
  .profile-into ul li img{
      width: 26px;
      margin-right: 10px;
  }
  .title-box{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .title-box a{
      text-decoration: none;
      color: #1876f2;
      font-size: 14px;
  }
  .photo-box{
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 10px;
      margin-top: 15px;
  }
  .photo-box div img{
      width: 100%;
      cursor: pointer;
  }
  .profile-into p{
      font-size: 14px;
      line-height: 1.5;
  }
  .friens-box{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
  }
  .friens-box div img{
    width: 100%;
    cursor: pointer;
    padding-bottom: 20px;
}
.friens-box div{
    position: relative;
}
.friens-box p{
    position: absolute;
    left: 0;
    bottom: 0;
}